@(mensagem: String)(meta: String)(usuario : Usuario)

<html>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<meta>
	<title>Metas Mak</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">

</head>

<body>
	
	<div class = "col-lg-4"></div>
	<div class = "col-lg-4">
	<form action = "/adicionaMeta" method = "post">
		<h1 style = "text-align:center">Metas Mak</h2>
		<div class = "jumbotron" style = "text-align:center">
		<p style = "text-align:center">Adicione aqui uma nova meta</p>
		<input type = "text" placeholder = "Meta" name = "nomeMeta" required/><br>
		<input type = "text" placeholder = "Descrição" name = "descricao" /><br>
		<select name = "dia" required>
			<option value = "1"/>01
			<option value = "2"/>02
			<option value = "3"/>03
			<option value = "4"/>04
			<option value = "5"/>05
			<option value = "6"/>06
			<option value = "7"/>07
			<option value = "8"/>08
			<option value = "9"/>09
			<option value = "10"/>10
			<option value = "11"/>11
			<option value = "12"/>12
			<option value = "13"/>13
			<option value = "14"/>14
			<option value = "15"/>15
			<option value = "16"/>16
			<option value = "17"/>17
			<option value = "18"/>18
			<option value = "19"/>19
			<option value = "20"/>20
			<option value = "21"/>21
			<option value = "22"/>22
			<option value = "23"/>23
			<option value = "24"/>24
			<option value = "25"/>25
			<option value = "26"/>26
			<option value = "27"/>27
			<option value = "28"/>28
			<option value = "29"/>29
			<option value = "30"/>30
			<option value = "31"/>31
		</select>
		<select name = "mes" required>
			<option value = "1"/>Janeiro
			<option value = "2"/>Fevereiro
			<option value = "3"/>Março
			<option value = "4"/>Abril
			<option value = "5"/>Maio
			<option value = "6"/>Junho
			<option value = "7"/>Julho
			<option value = "8"/>Agosto
			<option value = "9"/>Setembro
			<option value = "10"/>Outubro
			<option value = "11"/>Novembro
			<option value = "12"/>Dezembro
		</select>
		<select name = "prioridade" required>
			<option value = "1"/>Alta
			<option value = "2"/>Media
			<option value = "3"/>Baixa
		</select><br>
		<button class="btn btn-lg btn-info" id = "adicionar" type = "submit">Adicionar</button><br>
		</div>
	</form>
	</div>
	<div class = "col-lg-4"></div>
	<br>
	<div class = "col-lg-6">
		
		<div class = "jumbotron" >
			<h2 style="text-align: center">Metas</h2>
			<div class = "table-responsive">
		
				<table class = "table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody>
						@for(meta <- usuario.getMetas()){
							<tr>
							<th>@meta.getPrioridade()</th>
							<th>@meta.getNomeMeta()</th>
								
							<form action="/remove" method = "post">
								<input type = "hidden" name = "meta" value = @meta.getNomeMeta()>
								<th><input class="btn btn-xs btn-info" type="submit"  value="Remover">
							</form>
							<form action = "/alcancado" method = "post">
								<input type = "hidden" name = "meta" value = @meta.getNomeMeta()>
								<input class="btn btn-xs btn-info" type="submit" value="Alcançado"></th>
							</form>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class = "col-lg-6">
		<div class = "jumbotron">
			<h2 style = "text-align:center">Metas Alcançadas</h2>
			<div class = "table-responsive">
			<table class = "table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody>
						@for(meta <- usuario.getMetasAlcancadas()){
							<tr>
							<th>@meta.getPrioridade()</th>
							<th>@meta.getNomeMeta()</th>
						}
					</tbody>
				</table>
			</div>
		</div>
	
</body>

</html>