@(mesagem: String)(evento : String)(cadastroOk : String)

<html>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<meta>
	<title>Hackfest Cadastro</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">



</head>

<body>
	<div class = "navbar navbar-inverse">
		<div class = "container">
			<div class = "navbar-haeder">
				<button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target=".navbar-collapse">
				</button>
				<a class = "navbar-brand" >Hackfest</a>
			</div>
			<div class = "navbar-collapse collapse">
				<div class = "nav navbar-nav">
					<li>
						<a>Home</a>
					</li>
					<li>
						<a href = "/user">Eventos</a>
					</li>
					<li>
						<a href = "/">Sair</a>
					</li>
				</div>
			</div>
		</div>
	</div>
	<h1 style = "text-align:center">Hackfest</h2>
	<div class = "col-lg-4"></div>
	<div class = "col-lg-4">
		<form action = "/cadastro" method = "post">
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					<h2 class = "panel-title" style = "text-align:center">Cadastro</h2>
				</div>
			<div class = "panel-body" style = "text-align:center">
			<h3 style = "text-align:center">Você está prestes a se cadastar para o evento @evento</h3><br>
			<input type = "text" placeholder = "Nome" name = "nome" required/><br>
			<input type = "text" placeholder = "e-mail" name = "email" required /><br><br>
			<input type = "hidden" name = "evento" value = @evento><br>
			<h3 style = "text-align:center">@cadastroOk</h3>
			<button class="btn btn-lg btn-info" id = "cadastro" type = "submit">Cadastrar</button><br>
			</div>
			</div>
		</form>
	</div>
	<div class = "col-lg-4"></div><br>
	
</body>

</html>