@(mesagem: String)(hack : Hackfest)

<html>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<meta>
	<title>Hackfest</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">



</head>

<body>
	<div class = "navbar navbar-inverse">
		<div class = "container">
			<div class = "navbar-haeder">
				<button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target=".navbar-collapse">
				</button>
				<a class = "navbar-brand" >Hackfest</a>
			</div>
			<div class = "navbar-collapse collapse">
				<div class = "nav navbar-nav">
					<li>
						<a>Home</a>
					</li>
					<li>
						<a href = "/">Sair</a>
					</li>
				</div>
			</div>
		</div>
	</div>
	<div class = "col-lg-4"></div>
	<div class = "col-lg-4">
		<h1 style = "text-align:center">Hackfest</h1>
		<div class = "panel panel-primary" style = "text-align:center">
		<div class = "panel-heading">
		<h3 style = "text-align:center">Adicione aqui novos eventos</h3>
		</div>
		<div class="panel-body">
		<form action = "/adicionaEvento" method = "post">
		<input type = "text" placeholder = "Evento" name = "nome" required/><br>
		<input type = "text" placeholder = "Descrição" name = "descricao" /><br>
		<select name = "dia" required>
			<option value = "1"/>01
			<option value = "2"/>02
			<option value = "3"/>03
			<option value = "4"/>04
			<option value = "5"/>05
			<option value = "6"/>06
			<option value = "7"/>07
			<option value = "8"/>08
			<option value = "9"/>09
			<option value = "10"/>10
			<option value = "11"/>11
			<option value = "12"/>12
			<option value = "13"/>13
			<option value = "14"/>14
			<option value = "15"/>15
			<option value = "16"/>16
			<option value = "17"/>17
			<option value = "18"/>18
			<option value = "19"/>19
			<option value = "20"/>20
			<option value = "21"/>21
			<option value = "22"/>22
			<option value = "23"/>23
			<option value = "24"/>24
			<option value = "25"/>25
			<option value = "26"/>26
			<option value = "27"/>27
			<option value = "28"/>28
			<option value = "29"/>29
			<option value = "30"/>30
			<option value = "31"/>31
		</select>
		<select name = "mes" required>
			<option value = "1"/>Janeiro
			<option value = "2"/>Fevereiro
			<option value = "3"/>Março
			<option value = "4"/>Abril
			<option value = "5"/>Maio
			<option value = "6"/>Junho
			<option value = "7"/>Julho
			<option value = "8"/>Agosto
			<option value = "9"/>Setembro
			<option value = "10"/>Outubro
			<option value = "11"/>Novembro
			<option value = "12"/>Dezembro
		</select><br>
		<input type="checkbox" name = "tema1" value = "tema1"/>tema1
		<input type="checkbox" name = "tema2" value = "tema2"/>tema2
		<input type="checkbox" name = "tema3" value = "tema3"/>tema3
		<input type="checkbox" name = "tema4" value = "tema4"/>tema4
		<input type="checkbox" name = "tema5" value = "tema5"/>tema5
		<br><br>
		<button class="btn btn-lg btn-info" id = "adicionar" type = "submit">Adicionar</button><br>
		</div>
		</div>
	</form>
	</div>
	<div class = "col-lg-4"></div>
	<div class = "col-lg-12">
		
		<div class = "panel panel-info" >
			<div class = "panel-heading">
			<h1 class = "panel-title" style="text-align: center">Eventos</h1>
			</div>
			<div class = "panel-body">
			<div class = "table-responsive">
		
				<table class = "table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Temas</th>
						</tr>
					</thead>
					<tbody>
						@for(evento <- hack.getEventos()){
							<tr>
							<th>@evento.getParticipantes().size()</th>
							<th>@evento.getNomeEvento()</th>
							<th>
							@for(tema <- evento.getTemas()){
								@tema
							}
							</tr>
						}
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>