@(mesagem: String)

<html>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<meta>
	<title>Hackfest</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">



</head>

<body>
	<div class = "navbar navbar-inverse">
		<div class = "container">
			<div class = "navbar-haeder">
				<button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target=".navbar-collapse">
				</button>
				<a class = "navbar-brand" >Hackfest</a>
			</div>
			<div class = "navbar-collapse collapse">
				<div class = "nav navbar-nav">
					<li>
						<a>Home</a>
					</li>
				</div>
			</div>
		</div>
	</div>
	<div class = "col-lg-4"></div>
	<div class = "col-lg-4">
		<h1></h1>
		<div class = "panel panel-primary" style = "text-align:center">
		<div class = "panel-heading">
	 		<h1 style = "text-align:center">Login</h1> 
	 	</div>
	 	<div class = "panel-body">
	 		<input type = "text" placeholder = "Nome" name = "nome" required/><br>
			<input type = "text" placeholder = "e-mail" name = "email" required /><br><br>
			<a class="btn btn-sm btn-success" href="adm" role="button">Adm</a>
			<a class="btn btn-sm btn-success" href="user" role="button">User</a>
		</div>
		</div>
	</div>
	<div class = "col-lg-4"></div>
	<br>
</body>

</html>